/*
* todo.css
* Root namespace styles
*/

/** Reset css **/
body,
p,
h1,
h2,
h3,
ul,
dd,
dt,
dl {
    margin: 0;
    padding: 0;
}

ul,
ol { list-style: none; }

a { text-decoration: none; }

div { box-sizing:border-box; }

/** main css **/
html,
body {
    font-family: Helvetica, Arial ,
    "SimSun", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
    height: 100%;
    -webkit-user-select:none;
       -moz-user-select:none;
}

#todo { height: 100%; }

.column {
  float: left;
  overflow: scroll;
  position: relative;
  float: left;
  padding: 30px 15px 15px 30px;
  height: 100%;
  overflow-y: scroll;
  color: #15BDC3;
  border-right: 1px solid #ececec;
  background-color: #f8f8f8;
}

/*  Begin Column 1 */
.todo-shell-category { width: 25%; }

.task-item { cursor: pointer }

.task-folder {
  position: relative;
  min-height: 26px;
}

.task-items-box,
.time-box {
  padding-left: 12px;
  overflow: hidden;
  transition:.4s;
}

.task-items-box {
  max-height: 0;
}

.fa {
  transition:.4s;
}

.fa-folder-open-o {
  display: none;
}

div[data-folder-selected='true'] {
  background-color: rgba(27, 133, 136,0.1);
}

.folder-name-box,
.time-title-box,
.task-items-box .task-item { 
  height: 29px;
  line-height: 29px;
  cursor: pointer;
}

.task-items-box .task-item { position: relative; }

.folder-name-box {
  padding-left: 100px;
  margin-left: -100px;
  padding-right: 15px;
  margin-right: -15px;
}

.folder-name-box:hover .fa-close {
  display: inline;
}

.folder-name-box .fa-close { 
  display: none; 
  position: absolute;
  right: 0;
  top: 6px;
} 

.task-item .fa-caret-right {
  position: absolute;
  top: 8px;
  right: 0;
  display: none;
}


li[data-item-selected='true'] .fa-caret-right {
  display: inline;
}

.todo-shell-category li { 
  cursor: pointer;
}

.todo-shell-category-title {
  margin-top: 10px;
}

.todo-shell-category-lists {
  width: 100%;
  margin-top: 10px;
}

.todo-shell-category i {
  margin-right: 5px;
}

.todo-shell-category-add-btn,
.todo-shell-task-add-btn {
  position: absolute;
  bottom: 30px;
  left:50%;
  margin-left: -41px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
}

.todo-shell-category-add-btn:hover,
.todo-shell-task-add-btn:hover {
  border-radius: 5px;
  border:1px solid;
}

.todo-shell-category-add-form {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

.todo-shell-category-add-form .input-box {
  position: absolute;
  width: 800px;
  height: 102px;
  margin: 0 auto;
  top:20%;
  left: 50%;
  margin-left: -400px;
  border:1px solid #15BDC3;
}

#close-form-btn {
  position: absolute;
  top: 30px;
  right: 60px;
  cursor: pointer;
}

.selected-folder-info {
  width: 480px;
  margin: 50px auto 30px auto;
  font-size: 32px;
  text-align: center;
  color: #AFFEE9;

}

#selected-folder {
  margin: 0 4px;
  color: #15BDC3
}

.input-box input {
  font-size: 55px; 
  line-height: 70px; 
  height: 70px;
  border: none;
  margin-top: 10px;
  margin-left: 10px;
  resize: none;
}

input:focus { outline: none; }

#plus-btn {
  display: none;
  position: absolute;
  right: 10px;
  top: 20px;
  transition:all .5s;
  cursor: pointer;
}

/*  End column 1 */

/*  Begin column 2 */

.todo-shell-task { 
  width: 25%; 
  background-color: #fff;
  padding-right: 0;
  padding-left: 0;  
}

.task-type-area {
  position: relative;
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 0;
}

.task-type-btn {
  width: 33.3%;
  height: 30px;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
}

.active-underline {
  position: absolute;
  bottom: -3px;
  left: 17px;
  width: 20%;
  height: 1px;
  background-color: #15BDC3;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
}

.todo-shell-task-lists {
  padding-left: 8px;
  padding-top: 26px;
}

.time-box {
  padding-bottom: 8px;
}

.time-title-box {
  position: relative;  
  color: #59E9EE
}

.task-item .fa-check { 
  color: #59E9EE;
  margin-left: 5px; 
} 

.remaining-days {
  float: right;
  margin-right: 30px;
}

.remaining-days .fa {
  margin-right: 5px;
}

.time-title-box:after {
  content: '';
  position: absolute;
  left: 92px;
  bottom: 14px;
  width: 116px;
  border: dashed 1px #AFFEE9;
}
/* End Column 2  */

/* Begin Column 3 */

.todo-shell-info { 
  width: 50%; 
  background-color: #fff;
}

.todo-shell-info-area {
  margin-top: 4px;
  margin-bottom: 20px;
}

.info-task-name { 
  float: left;
  margin-bottom: 28px; 
}

.info-affiliated-folder {
  float: right;
  margin-right: 12px;
}

.display-head-area .info-affiliated-folder {
  margin-right: 43px;
}

.info-task-ddl {
  margin-top: 2px;
  float: left;
  clear: both;
}

.info-completed-btn {
  float:right;
  width: 100px;
  margin-right: 12px;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  border:1px solid;
}

.info-completed-btn:hover { background-color: rgba(27, 133, 136, 0.1) }

.info-head-area .fa { margin-right: 8px }

.edit-btn {
  position: absolute;
  left: 50%;
  margin-left: -41px;
  bottom: 30px;
  padding: 5px;
  box-sizing: border-box;
  cursor: pointer
}

.edit-btn:hover {
  border-radius: 5px;
  border:1px solid;
}

.edit-btn .fa { margin-right: 5px; }

.info-head-area {
  border-bottom: 1px dashed; 
  padding-bottom: 20px; 
}

/* 清除浮动 */
.info-head-area:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}

.info-head-area input {
  font-size: 16px; 
  line-height: 16px; 
  height: 20px;
  border: none;
  margin-top: 2px;
  margin-left: 4px;
  resize: none;
  border-bottom: 1px solid #15BDC3;
  color: #333;
}

.info-head-area select {
  width: 188px;
  font-size: 16px; 
  line-height: 16px; 
  height: 20px;
  border: none;
  margin-top: 2px;
  margin-left: 4px;
   -webkit-appearance: none; 
}

select:focus { outline: none } 

.input-error-prompt {
  display: none;
  margin-top: 6px;
  margin-left: 20px;
  float: left;
  color: red;
}

.edit-form-head-area {
  border-bottom: none;
}

.edit-form-content-area textarea {
  margin-left: -18px;
  margin-top: 20px;
  border: 1px solid #f2f2f2;
  font-size: 16px;
  color: #333;
  padding: 10px;
  resize: none;
  margin-bottom: 20px;
}

textarea:focus { outline: none }

.edit-form-content-area {
  text-align: center;
}

.info-btn-wrapper {
  position: relative;
  left: 0;
  bottom: 6px;
}

.edit-form-content-area .info-btn {
  display: inline-block;
  width: 49%;
  text-align: center;
  cursor: pointer
}

.info-btn:hover {
  border-radius: 5px;
  border:1px solid;
}

.info-btn .fa {
  margin-right: 5px;
}

#info-edit-area { display: none }

.display-content-area {
  margin-top: 30px;
  padding-right: 20px;
}

#no-content-prompt {
  color:#d2d2d2;
}



















